export interface {{ComponentName}}Props {
  className?: string;
}

export const {{ComponentName}} = ({
  className = '',
}: {{ComponentName}}Props) => {
  return (
    <div className={className}>
      {{ComponentName}}
    </div>
  );
};
